#background{

	background-image: url(https://i.pinimg.com/originals/7b/db/75/7bdb758f3927bc393ff2b2b72d4f4f6d.jpg);
	background-size:cover ;
	background-position: center;
}

#gmap{

	height: 60vh;
	width: 100%;
	padding-left: 10%;
}